@{
    ViewData["Title"] = "Giriş Yap";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header bg-dark text-white text-center">
                <h4>Market ERP Giriş</h4>
            </div>

            <div class="card-body">
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Error
                    </div>
                }

                <form asp-controller="Login" asp-action="Index" method="post">
                    <div class="mb-3">
                        <label>Kullanıcı Adı</label>
                        <input type="text"
                               name="username"
                               value="@ViewBag.Username"
                               class="form-control"
                               autocomplete="username"
                               required />
                    </div>

                    <div class="mb-3">
                        <label>Şifre</label>
                        <input type="password"
                               name="password"
                               class="form-control"
                               autocomplete="current-password"
                               required />
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Giriş Yap
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
